:root {
    --primary-font: "Roboto", sans-serif;
    --body-text-color: #434455;
    --button-link-color:#4D5AE5;
    --hover-link-color:#404BBF;
    --main-white-color:#F4F4FD;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFF;
}
.link {
    text-decoration: none;
    color: var(--body-text-color);
}
.list {
    list-style: none;
    color: #2E2F42;
}
/* logo */
.link.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-link-color);
}
.logo-grey {
    color: #2E2F42;
}
.logo-white {
    color: var(--main-white-color);
}
/* Header */    
.list .link.navi {
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.list .link.navi:hover,
.list .link.navi:focus,
.list .link.navi:active{
    color: var(--hover-link-color);
}


.list .link.contacts {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em
}
/* hero */
.hero {
    color:#FFF;
    background-color:#2E2F42;
    width: 1440px;
    height: 600px;  
}
.hero-title{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}
.hero .hero-button {
    font-family: "Roboto", sans-serif; 
    width: 169px;
    height: 56px;
    color: #FFF;
    background-color: var(--button-link-color); 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    cursor: pointer;
    letter-spacing: 0.04em;
}
.hero .hero-button:hover,
.hero .hero-button:active {
    background-color: var(--hover-link-color);
}
.buttons {
    color: #FFF;
    background-color: var(--button-link-color);
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.buttons:hover,
.buttons:active{
    background-color: var(--hover-link-color);
}
.wawd-title {
    color: #2e2f42;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
}
.team-section {
    background-color: var(--main-white-color);
}
.team-title {
    color: #2e2f42;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
}
.team-list {
    background-color: var(--main-white-color);
}
.team-text {
    font-size: 16px;
    letter-spacing: 0.02em;
}
.h3title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.footer {
    background-color: #2E2F42;
    color: var(--main-white-color);
}
